
#map_title {
	float: left;
    font-size: 18px;
	line-height: 29px;
	color: #575757;
}

#borough, #neighborhood {
	float: right;
}

#borough {
    font-size: 2px;
	visibility:hidden;
}

#nyc_map {
    clear: both;
	padding: 0;
    margin: 0;
    width: 400px;
    height: 400px;
	float: left;
}

#nyc_map2 {
    clear: both;
	padding: 0;
    margin: 0;
	float: left;
}

.leaflet-top-pane {
    pointer-events: none;
}

.instagram_post {
    width: 400px;
    height: 400px;
}

#neighborhood_tod {
	width: 400px;
    height: 400px;
	float: right;
}

.hist_img {
	float: right;
	width: 400px;
    height: 400px;
}
