#map {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;
}

.leaflet-top-pane {
    pointer-events: none;
}

#image {
    height: 200px;
    width: 200px;
}

#borough, #neighborhood {
    font-family: 'Quantico', sans-serif;
}

#borough {
    font-size: 40px
}
