html,
body,
#map {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;
}
.leaflet-top-pane {
    pointer-events: none;
}

#image {
    height: 200px;
    width: 200px;
}

#neighborhood {
    padding-left: 50;
    font-family: 'Quantico', sans-serif;
}
