export(calculate_neighborhood_stats)
export(calculate_top_users)
export(constrain_to_nyc)
export(empty_theme)
export(empty_theme_with_legend)
export(load_instagram_data)
export(load_posts)
export(plot_all_web_images)
export(plot_base_map)
export(plot_field_densities)
export(plot_instagram_map)
export(plot_instagram_map_with_tod)
export(plot_instagram_points)
export(plot_instagram_points_with_average)
export(plot_instagram_points_with_tod)
export(plot_neighborhood_stats)
export(plot_neighborhood_stats_log_scale)
export(plot_neighborhood_web_images)
export(plot_ny_map)
export(plot_nyc_web_images)
export(plot_tod_polar)
export(plot_top_users_map)
export(prepare_geographic)
export(prepare_instagram_data)
export(prepare_temporal)
export(scale_color_tod)
export(scale_x_tod)
export(store_neighborhood_histograms)
export(valid_neighborhoods)
export(write_instagram_data)
importFrom(stringr,str_split_fixed)
