export(calculate_neighborhood_stats)
export(constrain_to_nyc)
export(empty_theme)
export(load_instagram_data)
export(load_posts)
export(plot_all_web_images)
export(plot_field_densities)
export(plot_instagram_map)
export(plot_instagram_points)
export(plot_instagram_points_with_average)
export(plot_neighborhood_stats)
export(plot_ny_map)
export(plot_tod_polar)
export(prepare_geographic)
export(prepare_instagram_data)
export(prepare_temporal)
export(store_neighborhood_histograms)
export(valid_neighborhoods)
export(write_instagram_data)
importFrom(stringr,str_split_fixed)
